ยง*{
	text-align: center;
	padding: 5px;
}

li {
	list-style-type: none;
	text-align: center;
	padding-bottom: 5%;
}

input {
	background-color: #333;
	border: none;
	border-radius: 2px;
	text-align: left;
	color: white;
}

h1 {
	font-family: sans-serif;
    color: black;
}

.container {
    font-family:  sans-serif;
    border: 5px solid  black;
    margin-top: 200px;
    margin-left: 170px;
    width: 75%;
    height: 400px;
	text-align:  center;
	border-radius: 16px;
	background-color: lightgrey;
	padding-bottom: 20px;
	-webkit-box-shadow: 3px 0px 10px 0px black;
	-moz-box-shadow: 3px 0px 10px 0px black;
	box-shadow: 3px 0px 10px 0px black;

}

.submit {
	background-color: grey;
	color: black;
	border: 4px solid black;
    width: 140px;
    height: 50px;
	font-family: sans-serif;
	font-size: 18px;
	transition: 0.9s ease;
	text-align: center;
}

.password, .username {
width: 350px;
height: 40px;
font-size: 20px;

}

body {
    background-color:white;
}
